<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just A Minute!</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <main class="container center-wrap">
    <div class="box text-center">
      <h1>Just A Minute!</h1>
      <p style="margin-bottom: 1.5rem; color: #666;">Choose to HOST or JOIN a room</p>

      <div class="flex-col">
        <a href="/host" class="btn primary huge">Host a game</a>
        <a href="/play" class="btn secondary huge">Join a game</a>
      </div>
    </div>
  </main>

  <script>
    if ('serviceWorker' in navigator) navigator.serviceWorker.register('/service-worker.js');
  </script>
</body>
</html>
